{{>header}}
    <h1>{{title}}</h1>
    
    <p>Use this site to get your weather.</p>

    <form id="weather_form">
        <input id="search_input" type="text" placeholder="Location">
        <button  type="submit">Search</button>
    </form>
    <br>
    <p id="output1"></p> 
    <p id="output2"></p> 
{{>footer}}